body{
    background-color:#D9D9D9;
    height: 1000px;
}
.cabecalho{
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
   top: 0;
    background-color: #71734C;
    color: #71734C;
    height: 35px;
}
.segcabecalho{
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    top: 35px;
    background-color: #F27979;
    color: #F27979;
}

/* essa vai ser a área abaixo do cabeçalho, possuindo a barra de pesquisa e afins */
.divBusca {
    position: absolute;
    width: 500px;
    height: 20px;
    right: 0;
    top: 250px;
    background: #D9D9D9;
    border-radius: 57px;
    text-align: left;
}
.busca{
    position: absolute;
    left: 0;
    right: 0;
    height: 300px;
    top: 50px;
}

.carousel-item{
    position: absolute;
    background: black;
    width: 100%;
    height: 350px;
    background-size: cover;
}



/* area do carrosel */
 .carousel{
    top: 350px;
    max-height: 350px;
    position: absolute;

}
.carousel-inner, .active{
    max-height: 350px;
    object-fit: cover;
}




