.body{
    background-color: #D9D9D9;
}

.cabecalho{
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
   top: 0;
    background-color: #71734C;
    color: #71734C;
    height: 35px;
}
.segcabecalho{
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    top: 35px;
    background-color: #F27979;
    color: #F27979;
}

.img{
    position: absolute;
width: 620px;
height: 620px;
left: 100px;
top: 150px;
background: #080808;
}

.nome{
    float: right;
    display: table-cell;
    width: 600px;
    margin-right: 200px;
    margin-top: 200px;  
    text-align: center;
}

.descricao{
float: right;
display: table-cell;
width: 600px;
margin-right: 200px;
margin-top: 50px;
}

.opicoes{
width: 600px;
height: 110px;
float: right;
display: table-cell;
margin-right: 200px;
margin-top: 10px;
background: #F27979;
border-radius: 20px;
}
.calcular{
    float: right;
    display: table-cell;
    width: 600px;
    margin-right: 200px;
    margin-top: 50px;
}
.frete{
    position: absolute;
width: 200px;
height: 30px;
background: #71734C;
border-radius: 30px;
top: 590px;
right: 10px;
left: 800px;

}

.comprar{
    position: absolute;
    width: 200px;
    height: 44px;
    background: #F27979;
    border-radius: 26px;
    top: 900px;
left: 800px; 
}

.adicionar{
    position: absolute;
    width: 200px;
    height: 44px;
    background: #F27979;
    border-radius: 26px;
    top: 900px;
left: 1050px; 
}

.pesquisar{
    position: absolute;
    width: 60px;
    height: 30px;
    background: #71734C;
    border-radius: 30px;
    top: 590px;
    right: 10px;
    left: 1020px; 
}
.estreladesligada{
    width: 40px;
    right: 50px;
    left: 10px;
    margin-top: 105px;
   
}
.estrela{
    margin-left: 288px;
    margin-top: 600px;
}
.quantidade{
    position: absolute;
    top: 650px;
    left: 840px;
}
.menos{
    background: #F27979;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 704px;
    left: 790px; 
}
.mais{
    background: #F27979;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 704px;
    left: 940px;
}
.numeros{
    background: #F27979;
    text-align: center;
    position: absolute;
    width: 100px;
    height: 20px;
    top: 688px;
    left: 825px;
}
.Comentarios{
    position: absolute;
    top: 1000px;
    left: 100px;
}